.bk-image {
    background-image: url('../../img/footer-bg.jpg');
    background-size: cover;
}

.bk-image-2 {
    background-image: url('../../img/dc-logo-bg.png');
    background-position: right center;
    background-repeat: no-repeat;
    padding: 2rem 0rem;
}

a {
    color: #959595;
    text-decoration: none;
}